---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// How to edit minimal mistakes style if you use github pages

// To make basic tweaks to theme’s style Sass variables can be overridden by adding
// to <your_project>/assets/css/main.scss. For instance, to change the link color
// used throughout the theme add:

// From: https://mmistakes.github.io/minimal-mistakes/docs/stylesheets/

// Color settings MUST happen before the @import step

// Define colors 
$brian-clicked-link: #265aeb;
$brian-unclicked-link: #1e38af;
$brian-creme: #fafafa;
$white: #ffffff;
$color-link-grey: #3E4245;

// Post headers
// $link-color: $color-link-grey;
$link-color: $brian-unclicked-link;

// Change background of website to creme. From: https://brianlovin.com/
// $background-color: $brian-creme;
$background-color: $white;

// https://nithiya.gitlab.io/development/pages-tweaks/

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

// github syntax highlighting (base16) 
// https://mmistakes.github.io/minimal-mistakes/docs/stylesheets/#colors
// https://github.com/Defman21/base16-github-scheme/blob/master/github.yaml
// http://chriskempson.com/projects/base16/
// https://mmistakes.github.io/minimal-mistakes/docs/stylesheets/#colors

/* default syntax highlighting (base16) */
$base00: #263238;
$base01: #2e3c43;
$base02: #314549;
$base03: #546e7a;
$base04: #b2ccd6;
$base05: #eeffff;
$base06: #eeffff;
$base07: #ffffff;
$base08: #f07178;
$base09: #f78c6c;
$base0a: #ffcb6b;
$base0b: #c3e88d;
$base0c: #89ddff;
$base0d: #82aaff;
$base0e: #c792ea;
$base0f: #ff5370;

@import "minimal-mistakes"; // main partials

// To add custom styling: 
//     The alternative is to copy /assets/css/main.scss to the same location
//     locally. And then add any style overrides after @import "minimal-mistakes";.


// Define breakpoints https://github.com/k-bosko/k-bosko.github.io/blob/master/_sass/minimal-mistakes/_variables.scss
// DOESNT WORK .... why not ...
// $small: 600px !default;
// $medium: 768px !default;
// $medium-wide: 900px !default;
// $large: 1024px !default;
// $x-large: 1280px !default;
// //$max-width: $x-large !default;
// $max-width: 500px !default;

// html {
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 1em;
//   padding-right: 1em;
//   max-width: 100%;

//   @include breakpoint($x-large) {
//     max-width: $max-width;
//   }
// }

// this used to work 
// html {
//   font-size: 16px; // change to whatever

//   @include breakpoint($small){
//     font-size: 16px; // change to whatever
//   }

//   @include breakpoint($medium) {
//     font-size: 18px; // change to whatever
//   }

//   @include breakpoint($large) {
//     font-size: 20px; // change to whatever
//   }

//   @include breakpoint($x-large) {
//     font-size: 22px; // change to whatever
//   }
// }

// .masthead__menu-item {
//   color: #612424;
// }

// .masthead {
//   background-color: #612424;
// }

// .masthead_inner-wrap {
//   background-color: #612424;
// }


// Set top navbar background colour to white. 
// .greedy-nav a { 
//   color: #ffffff;
// }

// Background of masthead inner wrap 
// .masthead__inner-wrap {
//   background-color: #00ffff; 
// } 


// Hide side title
// .greedy-nav .site-title { opacity: 1; }


// Code highlighting: https://mmistakes.github.io/minimal-mistakes/docs/stylesheets/


// .archive__item-title {
//   position: relative;
//   font-size: 50px;
// } 


// // // seems to work and then gets overwritten
// .archive a {
//   // color: inherit;
//   text-decoration: none;
// }

// https://glitchbone.github.io/vscode-base16-term/#/tomorrow-night